image: maven:3-jdk-8

release:
  stage: build
  script:
  - "mvn package"
  - "ls target"
  - "unzip -d target/release target/kickc-release.zip"
  - "mv target/release/kickc/* ."
  - "cat target/site/jacoco/index.html"
  artifacts:
    name: kickc_${CI_BUILD_REF_NAME}
    paths:
    - ./lib
    - ./stdlib
    - ./LICENSE*
    - ./NOTICE*
    - ./*.pdf

