image: maven:3-jdk-8

compile:
  stage: build
  script:
  - "mvn package"
  - "cat target/site/jacoco/index.html"

release:
  stage: build
  script:
  - "unzip -d target/release target/kickc-release.zip"
  artifacts:
    name: kickc_${CI_BUILD_REF_NAME}
    paths:
    - ./target/release/*
