image: maven:3-jdk-8

release:
  stage: build
  script:
  - "mvn package"
  - "ls target"
  - "unzip -d target/release target/kickc-release.zip"
  - "mv target/release/kickc/lib/kickc-release.jar target/release/kickc/lib/kickc-${CI_COMMIT_REF_NAME}.jar"
  - "mv target/release/kickc/* ."
  artifacts:
    name: kickc_${CI_COMMIT_REF_NAME}
    paths:
    - ./bin
    - ./lib
    - ./stdlib
    - ./fragment
    - ./examples
    - ./LICENSE*
    - ./NOTICE*
    - ./*.pdf
