image: maven:3-jdk-14

release:
  stage: build
  script:
  - "mvn -e package -DskipTests"
  - "ls target"
  - "gunzip -d target/release target/kickc-release.gz"
  - "mv target/release/kickc/jar/kickc-release.jar target/release/kickc/jar/kickc-${CI_COMMIT_REF_NAME}.jar"
  - "mkdir ./kickc"
  - "mv target/release/kickc/* ./kickc/"
  - "cat target/site/jacoco/index.html"
  artifacts:
    name: kickc_${CI_COMMIT_REF_NAME}
    paths:
    - ./kickc/bin
    - ./kickc/jar
    - ./kickc/include
    - ./kickc/lib
    - ./kickc/target
    - ./kickc/fragment
    - ./kickc/examples
    - ./kickc/LICENSE*
    - ./kickc/NOTICE*
    - ./kickc/*.pdf
