.project
.tmpdirs
/gen
*/*.mon
*/*.vs
*/*.brk
*/*.prg
*/*.sym
*/.tmpdirs
*/bin/
**/.DS_Store
kickc.iml
/.idea/*
/.vscode/*
**/.vscode/*
**/.vscode/*.log
**/target/*
*/workspace.xml
/gen/*
/src/main/fragment/cache